doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container
            .text-center.egress-template
                header.page-header
                    h1 404 - page not found
        
        include includes/scripts