include includes/head
body
    include includes/nav
    .container
        .row.text-center.nope-template
            h1 Account
            p Welcome to your account, #{user}

    include includes/scripts