doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container
            .span12.text-center.egress-template
                header.page-header
                    h1 Join #{siteName}
                if msg
                    .alert.alert-danger#error #{msg}
                
                include forms/join
        
        include includes/scripts