include includes/head

body
    include includes/nav
    .container
        .span12.text-center.egress-template
            h1 Login to #{siteName}
            if msg
                div.alert.alert-danger 
                    strong #{msg}
            form.form-horizontal.centered-form(method="post" action="/login" name="entry_form")
                input#user.form-control.input-lg(type="text" name="user" placeholder="Username")
                input#password.form-control.input-lg(type="password" name="password" placeholder="Password")
                button#login.btn.btn-info.btn-lg.big-button(type="submit" name="login" value="login") Login

include includes/scripts