doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container
            .span12.text-center.egress-template
                h1 Login to #{siteName}
                if msg
                    div.alert.alert-danger#error #{msg}
                
                include forms/login
        
        include includes/scripts