doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container
            .span12.text-center.egress-template
                header.page-header
                    h1 Login to #{siteName}
                    #error
                        if msg
                            | #{msg}
                
                include forms/login
        
        include includes/scripts
        script(src="js/validate/login.js")