doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container-fluid
            .row-fluid.egress-template
                .row-fluid.text-center
                    .container
                        if msg
                            .alert.alert-danger#error #{msg}
                        header.hidden-xs
                            h1 Sign in to #{siteName}
                            hr
                        include forms/signin
        
        include includes/scripts