.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand" href="./") #{siteName}
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                // For the actual navigation items, follow the format of {'url': 'visiblename' }
                for navItem, path in {"": "Home"}
                    if path === loc
                        li.active
                            a(href= "/" + path)= navItem
                    else
                        li
                            a(href= "/" + path)= navItem
            
            ul.nav.navbar-nav.navbar-right
                if user
                    li
                        a(href="/account") Hello, #{user}
                    li
                        a(href="/logout") Logout
                else
                    li
                        a(href="/login") Login
                    li
                        a(href="/join") Join