form.form-horizontal.centered-form(method="post" action="/join" name="entry_form")
    input#user.form-control.input-lg(type="text" name="user" placeholder="Username")
    input#email.form-control.input-lg(type="text" name="email" placeholder="Email")
    input#password.form-control.input-lg(type="password" name="password" placeholder="Password")
    button#register.btn.btn-info.btn-lg.big-button(type="submit" name="register" value="register") Join