form.form-horizontal.centered-form(method="post" action="/login" name="entry_form" onsubmit="return validateLogin(document.getElementById('user').value, document.getElementById('password').value);")
    input#user.form-control.input-lg(type="text" name="user" placeholder="Username")
    input#password.form-control.input-lg(type="password" name="password" placeholder="Password")
    button#login.btn.btn-info.btn-lg.big-button(type="submit" name="login" value="login") Login