form.form-horizontal.centered-form(method="post" action="/login" name="entry_form")
    input#user.form-control.input-lg(type="text" name="user" placeholder="Username or email" required)
    input#password.form-control.input-lg(type="password" name="password" placeholder="Password" required)
    button#login.btn.btn-info.btn-lg.big-button(type="submit" name="login" value="login") Login