form.form-horizontal.centered-form(method="post" action="/signin" name="entry_form")
    input#user.form-control.input-lg(type="text" name="user" placeholder="Username or email" required)
    input#password.form-control.input-lg(type="password" name="password" placeholder="Password" required)
    button#signin.btn.btn-info.btn-lg.big-button(type="submit" name="signin" value="signin") Sign in